h1 {
    color: rgb(6, 0, 128);
    font-size: 4rem;
}
.skill {
    color: var(--skillColorLight);
    font-weight: var(--fontWeight);
    text-transform: var(--textCase);
}

.dark h1 {
    color: rgb(235 206 169 / 98%);
}

.dark .skill {
    color: var(--skillColorDark);
}