---
import Social from './Social.astro';
---

<footer>
  <p>Learn more about my projects on: 
    <Social platform="github" username="ll-zerr" />
    <Social platform="linkedin" username="in/laurazerr" />
  </p>
</footer>